<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <!-- <li class="na-item me-4"><a href="/">Home</a></li>
        <li class="nav-item me-4"><a href="/servers">Servers</a></li>
        <li class="nav-item me-4"><a href="/users">Users</a></li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/servers"
            >Servers</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/users"
            >Users</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <router-outlet style="margin-top: 25px"></router-outlet>
  </div>
</div>
